.ipynb_checkpoints
SRA_data/GrostS001385/SRR2989854_1_paired.fq.gz
SRA_data/GrostS001385/SRR2989854_2_paired.fq.gz
SRA_data/GrostS001385/GrostS001385_aln_sorted.bam.gz
SRA_data/Minc557R/SRR4242467_2_paired.fq.gz
SRA_data/Minc557R/Minc557R_aln_sorted.bam.gz
SRA_data/Minc557R/SRR4242467_1_paired.fq.gz
SRA_data/RreniMP/RreniMP_aln_sorted.bam.gz
SRA_data/RreniMP/SRR2029861_1_paired.fq.gz
SRA_data/RreniMP/SRR2029861_2_paired.fq.gz
SRA_data/MincVW6/SRR4242464_SRR4242463_1_paired.fq.gz
SRA_data/MincVW6/MincVW6_aln_sorted.bam.gz
SRA_data/MincVW6/SRR4242464_SRR4242463_2_paired.fq.gz
SRA_data/MincA14/MincA14_aln_sorted.bam.gz
SRA_data/MincA14/SRR4242456_2_paired.fq.gz
SRA_data/MincA14/SRR4242456_1_paired.fq.gz
SRA_data/MincW1/MincW1_aln_sorted.bam.gz
SRA_data/MincW1/SRR4242461_SRR4242460_1_paired.fq.gz
SRA_data/MincW1/SRR4242461_SRR4242460_2_paired.fq.gz
SRA_data/MincL19/MincL19_aln_sorted.bam.gz
SRA_data/MincL19/SRR4242479_1_paired.fq.gz
SRA_data/MincL19/SRR4242479_2_paired.fq.gz
SRA_data/RreniWGA/SRR2032116_2_paired.fq.gz
SRA_data/RreniWGA/RreniWGA_aln_sorted.bam.gz
SRA_data/RreniWGA/SRR2032116_1_paired.fq.gz
SRA_data/Ananu/Ananu_aln_sorted.bam.gz
SRA_data/Ananu/SRR7511511_1_paired.fq.gz
SRA_data/Ananu/SRR7511511_2_paired.fq.gz
SRA_data/GrostSC/ERR123958_2_paired.fq.gz
SRA_data/GrostSC/GrostSC_aln_sorted.bam.gz
SRA_data/GrostSC/ERR123958_1_paired.fq.gz
SRA_data/HbactGebreg2a1223/SRR6846592_1_paired.fq.gz
SRA_data/HbactGebreg2a1223/SRR6846592_2_paired.fq.gz
SRA_data/HbactGebreg2a1223/HbactGebreg2a1223_aln_sorted.bam.gz
SRA_data/MincL27/MincL27_aln_sorted.bam.gz
SRA_data/MincL27/SRR4242470_1_paired.fq.gz
SRA_data/MincL27/SRR4242470_2_paired.fq.gz
SRA_data/GrostS00138A/GrostS00138A_aln_sorted.bam.gz
SRA_data/GrostS00138A/SRR2989857_1_paired.fq.gz
SRA_data/GrostS00138A/SRR2989857_2_paired.fq.gz
SRA_data/MincL9/SRR4242469_1_paired.fq.gz
SRA_data/MincL9/SRR4242469_2_paired.fq.gz
SRA_data/MincL9/MincL9_aln_sorted.bam.gz
SRA_data/GrostS00138D/SRR2989858_1_paired.fq.gz
SRA_data/GrostS00138D/SRR2989858_2_paired.fq.gz
SRA_data/GrostS00138D/GrostS00138D_aln_sorted.bam.gz
SRA_data/MincHarC/MincHarC_aln_sorted.bam.gz
SRA_data/MincHarC/SRR4242466_SRR4242465_2_paired.fq.gz
SRA_data/MincHarC/SRR4242466_SRR4242465_1_paired.fq.gz
